
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lavishly+Yours&display=swap');


.ballet-Hong {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
